
<div class="container">
    <h3>List Manager Component</h3>

    <div>
        <button type="button" class="btn btn-success" (click)="toggleAddForm()">Add a Manager</button>
        <div class="card m-5" *ngIf="toggleAdd">
            <div class="card-header bg-success text-white">Add a Manager</div>
            <div class="card-body">
                <form>
                   
                      <!-- <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Manager Email:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="email" 
                          placeholder="Enter manager email" 
                          name="email"
                          [(ngModel)]="newManager.email">
                      </div> -->
                      <div class="mb-3 mt-3">
                        <label for="password" class="form-label">Manager Password:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="password" 
                          placeholder="Enter manager password" 
                          name="password"
                          [(ngModel)]="newManager.managerPassword">
                      </div>
                      <div class="mb-3 mt-3">
                        <label for="firstname" class="form-label">Manager FirstName:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="firstname" 
                          placeholder="Enter manager firstname" 
                          name="firstname"
                          [(ngModel)]="newManager.managerFirstName">
                      </div>
                      <div class="mb-3 mt-3">
                        <label for="lastname" class="form-label">Manager LasttName:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="lastname" 
                          placeholder="Enter manager Lasttname" 
                          name="lastname"
                          [(ngModel)]="newManager.managerLastName">
                      </div>
                      <div class="mb-3 mt-3">
                        <label for="contact" class="form-label">Manager Contact:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="contact" 
                          placeholder="Enter manager empContact" 
                          name="contact"
                          [(ngModel)]="newManager.managerContact">
                      </div>
                      <div class="mb-3 mt-3">
                        <label for="address" class="form-label">Employee Address:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="address" 
                          placeholder="Enter manager mngDdress" 
                          name="address"
                          [(ngModel)]="newManager.managerAddress">
                      </div>
                      <div class="mb-3 mt-3">
                        <label for="image" class="form-label">Manager Image URL:</label>
                        <input 
                          type="text" 
                          class="form-control" 
                          id="image" 
                          placeholder="Enter manager image URL" 
                          name="bookImageUrl"
                          [(ngModel)]="newManager.managerImageUrl">
                      </div>
                    
                  </form>
            </div>
            <div class="card-footer bg-success">
                <button type="button" class="btn btn-light" (click)="addManager()">
                    ADD
                </button>
            </div>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <!-- <th>Email</th> -->
                <th>Password</th>
                <th>FirstName</th>
                <th>LasttName</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let manager of allManagers">
                <td>{{ manager.managerId }}</td>
                <td><img [src]="manager.managerImageUrl" width="80px" height="50px"/></td>
                <!-- <td>{{ manager.email }}</td> -->
                <td>{{ manager.managerPassword }}</td>
                <td>{{ manager.managerFirstName }}</td>
                <td>{{ manager.managerLastName }}</td>
                <td>{{ manager.managerContact }}</td>
                <td>{{ manager.managerImageUrl }}</td>
                <td>
                    <button 
                        type="button" 
                        class="btn btn-primary"
                        (click)="goToEditManager(manager.managerId)">
                        <i class="material-icons">edit</i>
                    </button>
                </td>
                 <td><button 
                        type="button" 
                        class="btn btn-danger" 
                        (click)="deleteManager(manager.managerId)"><i class="material-icons">delete</i></button></td> 
            </tr>
        </tbody>
    </table>
</div>

